@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #FFF !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section[id] {
  scroll-margin-top: 4rem;
}

.smt-10 {
  scroll-margin-top: 10rem;
}

.smt-6 {
  scroll-margin-top: 6rem;
}

.fill-current {
  fill: currentColor;
}